<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Изменить пользователя</h1>

<form method="post" th:object="${user}">
    <div th:if="${user}">
        <table>
            <tr>
                <td><label for="Name">Имя</label></td>
                <td><input th:type="text" th:field="${user.Name}" id="Name"/></td>
            </tr>
        </table>
    </div>
    <input type="submit" value="Изменить"/>
</form>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error">
    ...
</div>
</body>
</html>